<div class="wrapper-security container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item"><a title="Users" class="nav-link" routerLink="./users">Users</a></li>
          <li class="nav-item"><a title="Roles" class="nav-link" routerLink="./roles">Roles</a></li>
          <li class="nav-item"><a title="Permissions" class="nav-link" routerLink="./permissions">Permissions</a></li>
        </ul><!-- .nav -->
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <router-outlet></router-outlet>
    </main>
  </div><!-- .row -->
</div><!-- .wrapper-security -->