<div id="wrapper-user-forgot-pw">
  <main role="main">
    <form class="form card" (submit)="submit()" [formGroup]="form" >
      <div class="card-body">
        <h5 class="card-title">Reset Password Request</h5>
        <mat-form-field>
          <input type="email" id="email" name="email" placeholder="Email" readonly matInput [value]="email" />
        </mat-form-field>
        <fieldset>
          <legend>Passwords</legend>
          <mat-form-field>
            <input type="password" id="password1" name="password1" placeholder="Password" required minlength="6" matInput formControlName="pw1" />
            <mat-error *ngIf="form.get('pw1').hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('pw1').hasError('minlength')">
              Password should be 6 or more characters
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="password" id="password2" name="password2" placeholder="Confirm Password" required matInput formControlName="pw2" />
            <mat-error *ngIf="form.get('pw2').hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.hasError('password')">
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </fieldset>
        <div class="actions">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
          <nav>
            <ul class="nav flex-column">
              <li><a title="Sign In" class="nav-link card-link" routerLink="/user/signin">Sign In</a></li>
            </ul>
          </nav>
        </div><!-- .actions -->
      </div><!-- .card-body -->
    </form>
  </main>
</div><!-- #wrapper-user-forgot-pw -->