<div class="wrapper-user-forgot-pw-success">
  <main role="main">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Password Reset Complete</h5>
        <p class="card-text">
          Your password has been reset
        </p>
        <nav>
          <ul class="nav flex-column">
            <li class="nav-item"><a title="Sign In" class="nav-link card-link" routerLink="/user/signin">Sign In</a></li>
          </ul>
        </nav>
      </div><!-- .card-body -->
    </div><!-- .card -->
  </main>
</div><!-- .wrapper-user-forgot-pw-success -->
