<div id="wrapper-user-forgot-pw-request-success">
    <main role="main">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Password Request Request</h5>
          <p class="card-text">
            An email was sent to the address provided containing the link to reset
            your password
          </p>
          <a title="Sign In" class="card-link" routerLink="/user/signin">Sign In</a>
        </div><!-- .card-body -->
      </div><!-- .card -->
    </main>
  </div><!-- #wrapper-user-forgot-pw-request-success -->