<div id="wrapper-client">
  <nav class="menu">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
      <div class="btn-group" role="group" aria-label="Common">
        <button type="button" class="btn btn-secondary" (click)="refresh()">
            <i class="material-icons">refresh</i>
        </button>
      </div><!-- .btn-group -->
      <div class="btn-group" role="group" aria-label="Common">
        <button type="button" class="btn btn-secondary" (click)="save()">
          <i class="material-icons">save</i>
        </button>
      </div>
    </div><!-- .btn-toolbar -->
  </nav>
  <div class="wrapper-item">
    <form class="form" (submit)="save()" [formGroup]="form">
      <div class="wrapper-message">
        <div class="message" *ngFor="let m of messages">{{ m }}</div>
      </div><!-- .message -->
      <mat-form-field>
        <input type="text" id="name" name="name" placeholder="Name" required minlength="6" matInput formControlName="name" /> 
      </mat-form-field>
      <mat-form-field>
        <input type="text" id="description" name="description" placeholder="Description" matInput formControlName="description" />
      </mat-form-field>
    </form>
  </div><!-- #wrapper-item -->
</div><!-- #wrapper-client -->