<div id="wrapper-signup-success">
  <main role="main">
    <div class="wrapper-card">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sign Up</h5>
          <p class="card-subtitle">Almost completed!</p>
          <p class="card-text">
            A verification email has been sent to your address. Please click on the
            link provided to complete the registration.
          </p>
          <a title="Sign In" class="card-link" routerLink="/user/signin">Sign In</a>
        </div><!-- .card-body -->
      </div><!-- .card -->
    </div><!-- .wrapper-card -->
  </main>
</div><!-- #wrapper-signup-success -->