<div class="wrapper-client-organizations">
  <nav class="menu">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
      <div class="btn-group" role="group" aria-label="Common">
        <button type="button" class="btn btn-secondary" (click)="refresh()">
          <i class="material-icons">refresh</i>
        </button>
        <button type="button" class="btn btn-secondary" (click)="organization_add()">
          <i class="fas fa-user-plus"></i>
        </button>
      </div><!-- .btn-group -->
    </div><!-- .btn-toolbar -->
  </nav>
  <div class="list-organizations">
    
  </div><!-- .list-organizations -->
</div><!-- .wrapper-client-organizations -->