<div id="wrapper-client-join">
  <main role="main">
    <form class="form card">
      <div class="card-body">
        <caption class="card-title">Join A Client</caption>
        <h6 class="card-subtitle">Please enter the name of the Client</h6>
        <fieldset>
          <mat-form-field>
            <input type="autocomplete" id="name" name="name" placeholder="Name" required matInput />
          </mat-form-field>
        </fieldset>
        <fieldset class="actions">
          <button title="Join" type="submit" class="btn btn-primary">Join</button>
        </fieldset>
      </div><!-- .card-body -->
    </form>
  </main>
</div><!-- #wrapper-client-join -->