<div id="wrapper-clients">
  <nav class="menu">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
      <div class="btn-group" role="group" aria-label="Common">
        <button type="button" class="btn btn-secondary" (click)="refresh()">
          <i class="material-icons">refresh</i>
        </button>
        <button type="button" class="btn btn-secondary" (click)="client_add()">
          <i class="fas fa-user-plus"></i>
        </button>
      </div><!-- .btn-group -->
    </div><!-- .btn-toolbar -->
  </nav>
  <div class="list-clients">
    <table class="table table-striped">
      <caption>Clients</caption>
      <thead>
        <tr>
          <td>Id</td>
          <td>Name</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of clients">
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div><!-- .list-clients -->
</div><!-- #wrapper-clients -->