<div id="wrapper-signup-verify">
  <main role="main">
    <div class="card">
      <div class="card-body" *ngIf="!verified">
        <p class="card-text">
          Verifying...
        </p>
      </div><!-- .card-body -->
      <div class="card-body" *ngIf="verified">
        <h5 class="card-title">Account Verified</h5>
        <p class="card-text">
          Your email addres has been successfully verified.
        </p>
        <a title="Sign In" class="card-link" routerLink="/user/signin">Sign In</a>
      </div><!-- .card-body -->
    </div><!-- .card -->
  </main>
</div><!-- #wrapper-signup-verify -->
